.milestones {
	display: flex;
	justify-content: space-between;
	margin: 1rem 0 2rem;
}

@media (max-width: 72.5rem) {
	.milestones {
		flex-direction: column;
		gap: 2rem;
	}
}

.milestone {
	text-align: center;
}

.value, .difference {
	font-size: 2rem;
	font-weight: bold;
	font-feature-settings: "tnum";
}

.value {
	margin: .5rem 0;
}

.subtleMilestones .value,
.subtleMilestones .difference {
	font-size: 1rem !important;
}

@media (min-width: 105rem) {
	.milestone:not(.subtleMilestones) .label {
		font-size: 2rem !important;
	}

	.value, .difference {
		font-size: 3rem;
	}
}

@media (max-width: 35rem) {
	.milestones {
		gap: 1.75rem;
	}

	.value, .difference {
		font-size: 1.5rem;
	}
}

@media (max-width: 25rem) {
	.milestones {
		gap: 1.5rem;
	}

	.value, .difference {
		font-size: 1.25rem;
	}
}

.differenceAbove {
	color: var(--color-up);
}

.differenceBelow {
	color: var(--color-down);
}
