.label {
	/* TODO: Make this component generic */
	font-size: 1.5rem;
	color: var(--color-gray-60);
	font-weight: bold;
}

.milestones {
	display: flex;
	justify-content: space-between;
	margin: 1rem 0 2rem;
}

@media (max-width: 72.5rem) {
	.milestones {
		flex-direction: column;
		gap: 2rem;
	}
}

.milestone {
	text-align: center;
}

.milestone .label {
	font-size: 1.5rem;
}

.value {
	font-size: 2rem;
	font-weight: bold;
	font-feature-settings: "tnum";
	margin: .5rem 0;
}

.difference {
	font-size: 2rem;
	font-weight: bold;
	font-feature-settings: "tnum";
}

@media (min-width: 105rem) {
	.label,
	.milestone .label {
		font-size: 2rem;
	}

	.value, .difference {
		font-size: 3rem;
	}
}

.differenceAbove {
	color: var(--color-up);
}

.differenceBelow {
	color: var(--color-down);
}
