.value {
	font-size: 4rem;
	font-weight: bold;
	font-feature-settings: "tnum";
	margin: 0 0 1.5rem;
}

.value.smallValue {
	margin-top: .375rem;
	font-size: 2rem;
}

.value.subtleValue {
	font-size: 1rem !important;
	margin: .375rem 0 1.25rem;
}

.value + .value {
	margin-top: -1rem;
}

@media (max-width: 35rem) {
	.value {
		font-size: 3rem;
	}

	.value.smallValue {
		font-size: 1.5rem;
	}
}

@media (max-width: 25rem) {
	.value {
		font-size: 2.5rem;
	}

	.value.smallValue {
		font-size: 1.25rem;
	}
}

@media (min-width: 70rem) {
	.value {
		font-size: 6rem;
	}

	.value.smallValue {
		font-size: 3rem;
	}
}

@media (min-width: 90rem) {
	.value {
		font-size: 8rem;
	}

	.value.smallValue {
		font-size: 4rem;
	}
}

.valueWithSymbol {
	display: flex;
	align-items: center;
	justify-content: center;
}

.valueWithSymbol > :first-child {
	/* TODO: Refactor this selector */
	margin-left: .625em;
}

.valueSymbol {
	display: flex;
	align-items: center;
	justify-content: center;
	width: .625em;
	text-align: center;
}

.arrowUp,
.arrowDown {
	font-size: .625em;
}

.arrowUp {
	color: var(--color-up);
}

.arrowDown {
	color: var(--color-down);
}

.differenceAbove {
	color: var(--color-up);
}

.differenceBelow {
	color: var(--color-down);
}
