.value {
	font-size: 4rem;
	font-weight: bold;
	font-feature-settings: "tnum";
	margin: 0 0 1.5rem;
}

@media (max-width: 35rem) {
	.value {
		font-size: 3rem;
	}
}

@media (max-width: 25rem) {
	.value {
		font-size: 2.5rem;
	}
}

@media (min-width: 70rem) {
	.value {
		font-size: 6rem;
	}
}

@media (min-width: 90rem) {
	.value {
		font-size: 8rem;
	}
}

.valueWithSymbol {
	display: flex;
	align-items: center;
	justify-content: center;
}

.valueWithSymbol > :first-child {
	/* TODO: Refactor this selector */
	margin-left: .625em;
}

.valueSymbol {
	display: flex;
	align-items: center;
	justify-content: center;
	width: .625em;
	text-align: center;
}

.arrowUp,
.arrowDown {
	font-size: .625em;
}

.arrowUp {
	color: var(--up-color);
}

.arrowDown {
	color: var(--down-color);
}

.differenceAbove {
	color: var(--up-color);
}

.differenceBelow {
	color: var(--down-color);
}
