:root {
	--color-background: #fff;
	--color-foreground: #000;
	--color-gray-80: #ccc;
	--color-gray-60: #999;
	--color-gray-40: #666;
	--color-gray-20: #333;
	--color-up: #1f8df9;
	--color-down: #dd7a2b;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-background: #000;
		--color-foreground: #fff;
		--color-gray-80: #333;
		--color-gray-60: #666;
		--color-gray-40: #999;
		--color-gray-20: #ccc;
	}
}

body {
	background-color: var(--color-background);
	margin: 0;
	color: var(--color-foreground);
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
